<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtentReports" version="3.0.1" targetFramework="net45" />
  <package id="RandomStringUtils" version="0.2.5732" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="2.30" targetFramework="net45" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.30.0.1" targetFramework="net45" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net45" />
</packages>